 @import url('https://fonts.googleapis.com/css?family=Roboto');

.mdi { position: relative; top: 4px; }
.mdi span {position: relative; top: -4px;}

.accent-color { background-color: blue;}
.mdi, .accent-color, a {color: black; text-decoration: none;}
tr.accent-color {color: white;}

body, html {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
   position: relative;
   left: 10px;
   top: 5px;
}

header {
   position: absolute;
   top: 0;
   width: 100%;
   height: 90px;
}

header a, header a.mdi {
   color: white;
}

nav {
   position: relative;
   top: -60px;
	float: right;
	margin-right: 10px;
}

nav li {
	position: relative;
	display: inline-block;
}

nav li a {
   padding: 51px 10px;
   transition: all 0.1s ease-in-out;
}

nav li a:hover {
	background-color: white;
	box-shadow: 1px 5px 10px black;
   color: black;
}

main {
   position: relative;
   top: 90px;
}

 /* Login */

#login, #nuevaLiga {
   position: relative;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
 }


 input[type='text'], input[type='password'],  input[type='submit'], textarea {
    font-family: 'Roboto', sans-serif;
    margin: 2px 1px;
    border-radius: 5px;
 }

 input[type='text'], input[type='password'], input[type='submit'] {
    height: 40px;
 }

#login input[type='submit']{
    border-radius: 20px;
 }

#login input[type='text'], #login input[type='password'], #login input[type='submit']{
    width: 100%;
 }

 
/* Errores */

.error {
   position: relative;
   padding: 2px 5px;
   margin: 10px;
   text-align: center;
   background-color:rgba(231, 16, 16, 0.8);
   
}

/* Tablas */

table {
  border-collapse: collapse;
}

th, td {
   padding: 10px;
}

/* Rondas */

#ronda {
   position: relative;
}

.ronda {
   position: absolute;
   list-style-type: none;
}

.numRonda {
   display: inline-block;
}

/* Nueva liga */

#nuevaLiga input[type='text'], #nuevaLiga input[type='submit'], #nuevaLiga textarea {
   width: 100%;
}

#nuevaLiga textarea {
   resize: none;
   padding: 5px 0 5px 2px;
}